* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    font-size: 22px;
    color: black;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.primary {
    color: black;
}

.secondary {
    color: #2864d9;
}

.tertiary {
    color: white;
}

/***** HEADER *****/
.head-nav {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 11.5vh;
    background-color: white;
}

.head-logo {
    font-size: 2.5rem;
    font-weight: 700;
}

.head-wrap {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10%;
    font-weight: 300;
}

.head-btn {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 4%;
    border-radius: 10px;
    background-color: black; 
}

/***** CONTENT *****/

.main {
  display: grid;
  grid-template-rows: repeat(2,97vh);  
}

/** SECTION 1 **/

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 5%
}

.s1-title h1 {
    font-size: 5.5rem;
    font-weight: 600;
}

.s1-img {
    width: 85%
}